<div>
  <div>
    <h1 class="headers text-center">Delete Question By Id</h1>
    <div class="justAlign">
      <label class="typeQuestionLabelCreate" for="deleteOneQuestion">Chose the question to delete</label>
      <select id="deleteOneQuestion" class="allTextBoxes" name="optionToDelete" [(ngModel)]="id">
        <option *ngFor="let optionToDelete of existingListQuestion" [value]="optionToDelete.id">
          {{optionToDelete.id}}
        </option>
      </select>
      <div>
        <input id="validation" class="validationButtons" type="button"
               (click)="deleteQuestion(id)" value="Delete Question">
      </div>
      <div class="reponseCreated" *ngIf="showMsgQuestionDeleted">
        {{msgQuestionDeleted}}
      </div>
    </div>
  </div>
</div>
