.modelQuestion{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}
.headers{
  font-weight: bolder;
  color: #ff4e24;
  margin: 30px;
  font-size: x-large;
  font-family: "Comic Sans MS";
}
.labels{
  font-weight: bold;
  color: powderblue;
  background: lightcoral;
  border: solid 1px coral;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  margin: 15px;
}
.allTextBoxes{
  margin: 10px;
  padding: 3px;
  font-size: 20px;
  background: #c2f4fa;
  color: coral;
}
.typeQuestionLabelCreate{
  color: coral;
  font-weight: bolder;
}
.justAlign{
  display: grid;
  grid-gap: 7px;
  margin-left: 20px;
}
.typeButtonsCreate{
  background: coral;
  color: white;
}
.errors {
  color: red;
  font-weight: bold;
}
.reponseCreated{
  color: coral;
  font-weight: bold;
  margin: 10px;
}
.validationButtons{
  margin: 10px;
  padding: 3px;
  font-size: 16px;
  background: coral;
  color: white;
  font-family: "Comic Sans MS";
}
