<div>
  <h1 class="headers text-center">Create your own Question</h1>
  <div>
    <!-- RADIO to recuper TYPE (newQuestion) --->
    <div class="labels text-center">
      <div>
        <input id="True-FalseToChose" class="typeQuestion" type="radio" value="True-FalseToChose"
               name="choseTypeToChose"
               (click)="selectTypeQuestion(0)">
        <label class="typeQuestionLabel" for="True-FalseToChose">True-False</label>
      </div>
      <div>
        <input id="Multiple-ChoiceToChose" class="typeQuestion" type="radio" value="Multiple-ChoiceToChose"
               name="choseTypeToChose"
               (click)="selectTypeQuestion(1)">
        <label class="typeQuestionLabel" for="Multiple-ChoiceToChose">Multiple-Choice</label>
      </div>
      <div>
        <input id="Open-QuestionToChose" class="typeQuestion" type="radio" value="Open-QuestionToChose"
               name="choseTypeToChose"
               (click)="selectTypeQuestion(2)">
        <label class="typeQuestionLabel" for="Open-QuestionToChose">Open-Question</label>
      </div>
    </div>
  </div>

  <div class="justAlign">
    <!-- buttons to insert new questi text-centeron --->
    <div>
      <label class="typeQuestionLabelCreate" for="enonce">Question</label>
      <input id="enonce" class="allTextBoxes" type="text" [(ngModel)]="enonce">
    </div>
    <div *ngIf="showMultipleChoiceTextBoxes">
      <label class="typeQuestionLabelCreate" for="suggestions">List of Possible Answers</label>
      <input id="suggestions" class="allTextBoxes" type="text" [(ngModel)]="suggestions">
    </div>
    <div *ngIf="showOpenTextBox">
      <label class="typeQuestionLabelCreate" for="reponse">Correct Answer</label>
      <input id="reponse" class="allTextBoxes" type="text" [(ngModel)]="reponse">
    </div>
    <!-- THIS IS SHOWED JUST FOR TRUE-FALSE --->
    <div *ngIf="showTrueFalseTextBox">
      <label class="typeQuestionLabelCreate" for="reponseTF">Correct Answer</label>
      <select id="reponseTF" class="allTextBoxes" name="optionTF" [(ngModel)]="reponse">
        <option *ngFor="let optionTF of optionsTrueFalse" [value]="optionTF.value">{{optionTF.title}}
        </option>
      </select>
    </div>

    <div>
      <input id="validation" class="validationButtons" type="button" (click)="validation()" value="Validate">
    </div>
    <!-- end buttons to insert new question --->
    <div class="errors" *ngIf="showMsgErrorMissingInfo">{{textErrorMissingInfo}}

    </div>
    <div class="reponseCreated" *ngIf="showMsgQuestionInserted">{{textQuestionInserted}}
      <img src="https://www.freepnglogos.com/uploads/smiley-png/image-thumb-smiley-community-central-fandom-18.png"
           alt="SMILE" width="60px" align="middle">
    </div>

  </div>
  <!-- END CREATE QUESTION section --->
</div>


<div>
  <h1 class="headers text-center">Show Existing Questions By Type</h1>
  <div class="labels text-center">
    <div>
      <input id="True-False" class="typeQuestion" type="radio" value="True-False" name="choseType"
             (click)="select(0)">
      <label class="typeQuestionLabel" for="True-False">True-False</label>
    </div>
    <div>
      <input id="Multiple-Choice" class="typeQuestion" type="radio" value="Multiple-Choice" name="choseType"
             (click)="select(1)">
      <label class="typeQuestionLabel" for="Multiple-Choice">Multiple-Choice</label>
    </div>
    <div>
      <input id="Open-Question" class="typeQuestion" type="radio" value="Open-Question" name="choseType"
             (click)="select(2)">
      <label class="typeQuestionLabel" for="Open-Question">Open-Question</label>
    </div>
    <div>
      <input id="All-Questions" class="typeQuestion" type="radio" value="All-Questions" name="choseType"
             (click)="showAllQuestions()">
      <label class="typeQuestionLabel" for="All-Questions">All-Questions</label>
    </div>
  </div>
  <!-- show the list of questions COMPLETE --->
  <div *ngIf="showListQuestionsComplete" class="modelQuestion">
    <div *ngFor="let question of questionList">
      <app-question
        [question]="question"
      ></app-question>
    </div>
  </div>
  <!-- show the list of questions SORTED --->
  <div *ngIf="showSortedQuestions" class="modelQuestion">
    <div *ngFor="let question of filterList">
      <app-question
        [question]="question"
      ></app-question>
    </div>
  </div>
</div>
<!-- Delete Question Area --->
<div>
  <app-delete-question
    [existingListQuestion]="questionList"
    (showListQuestionsCompleteFromDeleteButton)="showRemainingQuestions($event)"
  >
  </app-delete-question>
</div>
<div>
  <app-trying-answer
    [existingListQuestionToAnswer]="questionList"
  >
  </app-trying-answer>
</div>


