.headers {
  font-weight: bolder;
  color: #ff4e24;
  margin: 30px;
  font-size: x-large;
  font-family: "Comic Sans MS";
}
.allTextBoxes{
  margin: 10px;
  padding: 3px;
  font-size: 20px;
  background: #c2f4fa;
  color: coral;
}
.typeQuestionLabelCreate{
  color: coral;
  font-weight: bolder;
}
.alignRows{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
  margin-left: 20px;
  font-family: "Comic Sans MS";
}
.validationButtons{
  margin: 10px;
  padding: 3px;
  font-size: 16px;
  background: coral;
  color: white;
  font-family: "Comic Sans MS";
}
.reponseCreated{
  color: coral;
  font-weight: bold;
  margin: 10px;
}
.errors {
  color: red;
  font-weight: bold;
}
