<div>
  <div>

    <h1 class="headers text-center">Chose Question To Answer By Id</h1>

    <div class="alignRows text-center">
      <div>
        <label class="typeQuestionLabelCreate" for="choseToAnswer">Chose the question you want to answer</label>
        <select id="choseToAnswer" class="allTextBoxes" name="optionToChose" [(ngModel)]="id">
          <option *ngFor="let optionToChose of existingListQuestionToAnswer" [value]="optionToChose.id">
            {{optionToChose.id}}
          </option>
        </select>
      </div>
      <!-- Input Text to answer --->
      <label class="typeQuestionLabelCreate" for="tryAnswer">Write your answer</label>
      <input id="tryAnswer" class="allTextBoxes" type="text" [(ngModel)]="answer">
      <!-- Button VALIDATE --->
      <div>
        <input id="validation" class="validationButtons" type="button"
               (click)="answerQuestion(id)" value="Validate Answer">
      </div>
      <!-- Msg CORRECT answer --->
      <div class="reponseCreated" *ngIf="showMsgQuestionCorrect">
        {{MsgQuestionCorrect}}
        <img src="https://www.freepnglogos.com/uploads/smiley-png/image-thumb-smiley-community-central-fandom-18.png" alt="SMILE" width="60px" align="middle">
      </div>
      <!-- Msg WRONG answer --->
      <div class="errors" *ngIf="showMsgQuestionIncorrect">
        {{MsgQuestionIncorrect}}
        <img src="https://www.nicepng.com/png/full/18-181112_sad-emoji-transparent-background-sad-smiley-face.png" alt="ERROR" width="50px" align="middle">
      </div>

    </div>

  </div>
</div>
